<div class="container">
  <div><h1>Result</h1></div>
  <div class="container">
    <div class="row ">
      <p style="font-size: 2em;"><%= @results_a %><strong><%= @word_guess %></strong><%= @results_b %></p>
    </div>
    </div>
      <%= link_to "Try again?", new_path %>
    <div>
    </div>
    <div class="none">
    </div>
  </div>

<!-- end container -->
</div>
